<script type='text/x-handlebars-template' id='selectors_grid' class='faostat-downlaod-selector-grid'>

        <div id='{{prefix}}selectors_grid' class="row faostat-downlaod-selector-grid-main"></div>

</script>

<script type='text/x-handlebars-template' id='single_selector' >
    <div class='col-md-6 faostat-downlaod-selector-single'>
        <div id='{{prefix}}{{selector_id}}'></div>
    </div>
    {{#if addClearfix}} <div class="clearfix"></div>{{/if}}
</script>